{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    "mobx-deep-action"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie <= 10"]
      }
    }],
    "react"
  ]
}